:root {
    --cor-verde: rgb(21, 197, 209);
}


*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background: #ffffff;
    height: 100%;
    display: flex;
    /*Ver se funciona com colum*/
    flex-direction: column;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='2600' height='2600' preserveAspectRatio='none' viewBox='0 0 2600 2600'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1399%26quot%3b)' fill='none'%3e%3crect width='2600' height='2600' x='0' y='0' fill='rgba(23%2c 103%2c 126%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c662 C 104%2c600.2 312%2c243 520%2c353 C 728%2c463 832%2c1253.6 1040%2c1212 C 1248%2c1170.4 1352%2c203.2 1560%2c145 C 1768%2c86.8 1872%2c850.8 2080%2c921 C 2288%2c991.2 2496%2c581 2600%2c496L2600 2600L0 2600z' fill='rgba(24%2c 133%2c 139%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c2208 C 104%2c2121 312%2c1714.2 520%2c1773 C 728%2c1831.8 832%2c2573 1040%2c2502 C 1248%2c2431 1352%2c1491.2 1560%2c1418 C 1768%2c1344.8 1872%2c2033.8 2080%2c2136 C 2288%2c2238.2 2496%2c1970.4 2600%2c1929L2600 2600L0 2600z' fill='rgba(42%2c 211%2c 213%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1399'%3e%3crect width='2600' height='2600' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    
}

