<header>
 
    
    
<div>
    <img class="logo_principal" src="/Imagens/logo_pesca8.png" alt="logo">
</div>

<!-- Botão do menu hamburger -->
<div class="hamburger-menu" (click)="toggleMenu()" [class.active]="isMenuOpen">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
</div>

<nav [class.active]="isMenuOpen">
    <ul>
        <li>
            <a href="index">Início</a>
        </li>
        <li>
            <a href="localidades">Localidades</a>
        </li>
        <li>
            <a href="publicacoes">Publicações</a>
        </li>
        <li>
            <a href="contato">Contato</a>
        </li>
        <li>
            <a href="login">Login</a>
        </li>
    </ul>
</nav>

<div class="logout">
    <span class="welcome-msg" *ngIf="isLoggedIn">Bem vindo {{ user }}!</span>
    <img class="botao_logout" id="icon_logout" src="/Imagens/icone_logout3.png" alt="Icone logout" (click)="logout()">
</div>
</header>
