header ul {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

ul {
	display: inline-block;
}

header {
    box-shadow: 5px 5px 5px rgb(68, 68, 68);
    top: 0;
    position: fixed;
    width: 100%;
    background: #FFFFFF;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: -2000px;
}

header div {
    display: inline;
    vertical-align: middle;
}

header nav {
    display: inline-block;
    vertical-align: middle;
    width: 80vw;
}

header nav a {
    color: #060607;
    font-size: 19px;
    text-decoration: none;
    font-weight: 900;
    margin-left: 14px;
    margin-right: 14px;
    
}

header nav a:hover {
    color: #152553;
    text-decoration: none;
    font-weight: 900;
}

nav li {
    display: inline;
    list-style: none;
}

.botao_logout{
    display: flex;
    position: absolute;
    width: 33px;
    margin-top: -3vh;
    padding: 15px;
    
}

.logout a{
     width: 30px;
    
}