<header>
 
    
    
<div>
    <img class="logo_principal" src="/Imagens/logo_pesca7.png" alt="logo">
</div>
<nav>
    <ul>
        <li>
            <a href="index">Inicio</a>
        </li>
        <li>
            <a href="localidades">Localidades</a>
        </li>
        <li>
            <a href="publicacoes">Publicações</a>
        </li>
        <li>
            <a href="contato">Contato</a>
        </li>
        <li>
            <a href="login">Login</a>
        </li>
    </ul>
</nav>

<div class="logout">
    <span class="welcome-msg" *ngIf="isLoggedIn">Bem vindo {{ user }}!</span>
    <img class="botao_logout" id="icon_logout" src="/Imagens/icone_logout.png" alt="Icone logout" (click)="logout()">
</div>
</header>
