header {
    box-shadow: 5px 5px 5px rgb(68, 68, 68);
    top: 0;
    position: fixed;
    width: 100%;
    background: #FFFFFF;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px 100px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: -2000px;
}

.botao_logout_a img {
    width: 30px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
    margin-bottom: 0;
}

header nav ul a {
    text-decoration: none;
    color: #000;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    font-weight: 600;
    transition: all 0.2s ease-in;
}

header nav ul a:hover{
    border-bottom: 2px solid rgb(21, 197, 209);
}