main{
    width: 100vw;
    height: 100vh; 
    display: flex;
    justify-content: center;
    
}


body {
    background: #FFFFFF;
    height: 100%;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='2600' height='2600' preserveAspectRatio='none' viewBox='0 0 2600 2600'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1399%26quot%3b)' fill='none'%3e%3crect width='2600' height='2600' x='0' y='0' fill='rgba(23%2c 103%2c 126%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c662 C 104%2c600.2 312%2c243 520%2c353 C 728%2c463 832%2c1253.6 1040%2c1212 C 1248%2c1170.4 1352%2c203.2 1560%2c145 C 1768%2c86.8 1872%2c850.8 2080%2c921 C 2288%2c991.2 2496%2c581 2600%2c496L2600 2600L0 2600z' fill='rgba(24%2c 133%2c 139%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c2208 C 104%2c2121 312%2c1714.2 520%2c1773 C 728%2c1831.8 832%2c2573 1040%2c2502 C 1248%2c2431 1352%2c1491.2 1560%2c1418 C 1768%2c1344.8 1872%2c2033.8 2080%2c2136 C 2288%2c2238.2 2496%2c1970.4 2600%2c1929L2600 2600L0 2600z' fill='rgba(42%2c 211%2c 213%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1399'%3e%3crect width='2600' height='2600' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}




.logo{
   display: flex;
   align-self: auto;
   width: 50%;     
}

.logo_div{
    display: flex;
    justify-content: center;
}

.forms{
    display: flex;
    margin-top: -50vh;
}

.forms_div{
    width: 60vh;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 1px 1px 10px;
     
}
.forms_div_texto{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.titulo{
    color: #32b9be;
    display: flex;
    
}

.form_id {
    display: block;
    width: 56vh;
    border: 1px solid #cccccc;
    border-radius: 7px;
    height: 5vh;
    margin: 1vh;
    font-size: 2vh;
    padding: 2vh;
    padding-left: 20px;    
    
}

.txtLogin{
    display: flex;
    justify-content: end;

}


.botao_entrar{
    width: 58vh;
    height: 5vh;
    border: 1px solid #9b9696;
    border-radius: 5px;
    background-color: #cbcfcd;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
    
    
}
.botao_entrar:hover{
    background-color: #3487d4; 
    transform: scale(1.01); 
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); 
}

