main{
    width: 100vw;
    height: 100vh; 
    display: flex;
    justify-content: center;
    
}



.logo{
   display: flex;
   align-self: auto;
   width: 50%;     
}

.logo_div{
    display: flex;
    justify-content: center;
}

.forms{
    display: flex;
}

.forms_div{
    width: 60vh;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 1px 1px 10px;
     
}
.forms_div_texto{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.titulo{
    color: #32b9be;
    display: flex;
    
}

.form_id {
    display: block;
    width: 56vh;
    border: 1px solid #cccccc;
    border-radius: 7px;
    height: 5vh;
    margin: 1vh;
    font-size: 2vh;
    padding: 2vh;
    padding-left: 20px;    
    
}

.txtLogin{
    display: flex;
    justify-content: end;

}


.botao_entrar{
    width: 58vh;
    height: 5vh;
    border: 1px solid #9b9696;
    border-radius: 5px;
    background-color: #cbcfcd;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
    
    
}
.botao_entrar:hover{
    background-color: #3487d4; 
    transform: scale(1.01); 
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); 
}

