<main>
<div class="forms">
    

    <div class="forms_div">
        <div class="forms_div_texto">
            <img class="logo_form" src="Imagens/logo_pesca.png">
            <h2 class="titulo">Bem Vindo Administrador</h2>

            <!-- Angular controlando o envio -->
            <form (ngSubmit)="login()">
                
                <div>
                    
                    <label class="label-input">
                        <input type="text" [(ngModel)]="username" name="username"
                            placeholder="Insira seu e-mail*" class="form_id" required>
                    </label>
                </div>

                <div>
                    <label class="label-input">
                        <input type="password" [(ngModel)]="password" name="password"
                            placeholder="Insira sua senha*" class="form_id" required>
                    </label>
                </div>

                <div class="botao_entrar_div">
                    <button class="botao_entrar" type="submit" id="btnEntra">Entrar</button>

                    
                    
                </div>
                    <div>
                    <p class="msg">{{ message }}</p>
                    </div>
            </form>
        </div>
    </div>
</div>
</main>