main{
    width: 100vw;
    height: 100vh; 
    display: flex;
    justify-content: center;
    
}

.logo_form{
    width: 7vh;
    margin-bottom: 3vh;
}

.logo_div{
    display: flex;
    justify-content: center;
}

.forms{
    display: flex;
}

.forms_div{
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 1px 1px 10px;
    height: 40vh;
    display: flex;
    margin-top: 30vh;
    
     
}
.forms_div_texto{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.titulo{
    color: #32b9be;
    display: flex;
    font-size: 3vh;
    
}

.form_id {
    display: flex;
    align-items: center;
    width: 56vh;
    border: 1px solid #cccccc;
    border-radius: 7px;
    height: 5vh;
    margin: 1vh;
    font-size: 2vh;
    padding: 1vh;
    padding-left: 20px;    
    
}

.txtLogin{
    display: flex;
    justify-content: end;
    
}


.botao_entrar{
    width: 55vh;
    height: 5vh;
    border: 1px solid #9b9696;
    border-radius: 5px;
    background-color: #cbcfcd;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;   
    
}

.botao_entrar_div{
    display: flex;
    justify-content: center;
}
.botao_entrar:hover{
    background-color: #1ae2d8; 
    transform: scale(1.01); 
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); 
}

/* MENSAGEM */

.msg {
    margin-top: 10px;
    font-size: 15px;
    color: #333;
    display: flex;
    margin-left: 185px;
    text-align: center;
}


/* Media Queries Responsividade Login */
@media (max-width: 767px) {
    .forms_div{
        height: 50vh;
        margin-top: 20vh;
    }

    .forms_div_texto{
        margin-top: 2vh;
    }

    .form_id {
        width: 40vh;
        font-size: 1.5vh;
    }

    .botao_entrar{
        width: 39vh;
        height: 4vh;
        font-size: 1.5vh;
    }

    .msg {
        margin-left: 100px;
    }
}

@media (max-width: 450px) {
    .forms_div{
        height: 60vh;
        margin-top: 15vh;
    }

    .forms_div_texto{
        margin-top: 1vh;
    }

    .form_id {
        width: 30vh;
        font-size: 1.2vh;
    }

    .botao_entrar{
        width: 29vh;
        height: 4vh;
        font-size: 1.2vh;
    }

    .msg {
        margin-left: 70px;
    }
}

@media (max-width: 350px) {
    .forms_div{
        height: 50vh;
        margin-top: 10vh;
    }

    .forms_div_texto{
        margin-top: 1vh;
    }

    .form_id {
        width: 25vh;
        font-size: 1vh;
    }

    .botao_entrar{
        width: 24vh;
        height: 4vh;
        font-size: 1vh;
    }

    .msg {
        margin-left: 50px;
    }
}