* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main p{
    padding: 5px;
}

.contato_indicador{
    margin-top: 9vh;
    color: aliceblue;
    background-color: rgb(21, 197, 209);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 21vh;
    font-size: 28px;
    text-align: justify;
    justify-content: center;

    background-image: url(/Imagens/mar_ondas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 25px;

    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
    border-radius: 1px;

    height: 20vh;

    
}

.contato_titulo{
    font-size: 7vh;
}

.contato_subtitulo{
    font-size: 3vh;
}

.formulario_geral{
    display: flex;
    gap: 80px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    
}

.formulario{
    display: flex;
    flex-direction: row;
    position: relative;
    top: -30px;
}

.formulario_titulo{
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;    
}

.formulario_itens{
    display: flex;
    flex-direction: column;
    gap: 11px;
    width: 350px;
    border-radius: 10px;
    
    box-shadow: 5px 5px 15px;
    border-radius: 20px;
    
    padding: 8px;
}

.formulario_texto{
    font-size: 17px;
    border-radius: 8px;
    padding: 3px;
}



#campoMensagem{
    height: 70px;
    
}

.mapa{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    box-shadow: 5px 5px 15px;
    border-radius: 20px;
    
}

.mapa_titulo{
    color: white;
}

.botao_enviar{
    color: white;
    background-color: rgb(21, 197, 209);
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    padding:5px;
    width: 100%;
    cursor: pointer; 
    transition: all 0.3s ease;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.botao_enviar:hover{
    background-color: #2d59d4; /* Um tom de roxo mais escuro (índigo) */
    transform: scale(1.01); /* Aumenta o tamanho do botão em 5% */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Adiciona uma leve sombra */
}

.texto_checkbox{
    font-size: 14px;
    color: white;
    display: inline;
    margin-left: 5px;
}

.texto_lgpd{
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}


/* Media Queries Responsividade Contato */

/* Tablet - 768px a 1023px */
@media (min-width: 768px) and (max-width: 1023px) {
    .formulario_geral{
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 20px;
    
}
}


@media (min-width: 540px) and (max-width: 767px) {
    .formulario_geral{
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 20px;
    
}
}


@media (max-width: 539px) {
    .formulario_geral{
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 20px;
    
}
}


