<main>
<div class="contato_indicador">
    <h1 class="contato_titulo">Entre em Contato</h1>
    <p class="contato_subtitulo">Estamos sempre prontos para conversar. Entre em contato conosco e faça parte da nossa comunidade.</p>
</div>
<div class="formulario_geral">    
    <form class="formulario_itens" action="https://formsubmit.co/filipmenzessousa@gmail.com" method="POST">
        <div>
        <h1 class="formulario_titulo">Envie uma mensagem</h1>
        </div>
        <label for="campoNome"></label>
        <input class="formulario_texto" type="text" id="campoNome" placeholder="NOME*">
        <label for="campoEmail"></label>
        <input class="formulario_texto" type="email" id="campoEmail" placeholder="EMAIL*">
        <label for="campoTelefone"></label>
        <input class="formulario_texto" type="number" id="campoTelefone" placeholder="TELEFONE*">
        <label for="campoSelecao"></label>
            <select class="formulario_texto" name="" id="campoSelecao">
                <option value="0" selected disabled>Assunto</option>
                <option value="1">Informações Gerais</option>
                <option value="2">Parcerias</option>
                <option value="3">Imprensa</option>
                <option value="4">Eventos</option>
                <option value="5">Outros</option>
            </select>
        <label for="campoMensagem"></label>
        <input class="formulario_texto" type="text" id="campoMensagem" placeholder="MENSAGEM*">
    <h1 class="botao_enviar"><p class="botao_texto">Enviar Mensagem</p></h1>   
    </form>
    
    <div class="mapa">
    <h2 class="mapa_titulo">Como chegar</h2>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.343352888311!2d-38.36885460910012!3d-12.949867390433372!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x716177d63cc30a7%3A0xef614cb41b88736a!2sCol%C3%B4nia%20de%20Pescadores%20e%20Aquicultores%20Z%2006%20de%20Itapu%C3%A3%20-%20PAIZ6!5e0!3m2!1spt-BR!2sbr!4v1762104893850!5m2!1spt-BR!2sbr" width="450" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

   </div> 
</main>
