<main>
<div>
    <h1 class="feed_titulo">Feed de Publicações</h1>
    </div>
    <!-- Botão de adicionar publicação -->
<div class="add-post-btn" id="add-post-btn">+</div>

<!-- Editor -->
<div class="editor-container" id="editor-container">
    <button class="close-editor" id="close-editor">✖</button>
    <h2>Crie sua publicação</h2>
    <input type="text" id="editor-title" placeholder="Digite o título da postagem...">
    <textarea id="editor-text" placeholder="Digite o texto da postagem..."></textarea>

    <h3>Adicione imagens</h3>
    <input type="file" id="image-input" accept="image/*" multiple>
    
    <div class="save-indicator" id="save-indicator">Alterações salvas!</div>

    <button class="publish-btn" id="publish-btn">Publicar</button>
</div>

<!-- Feed -->
<div class="feed-container" id="feed-container"></div>
</main>


