<footer>
    <nav class="social">
        <ul class="social_links">
            <li><a class="link_rodape"
                    href="https://www.gov.br/pt-br/servicos/solicitar-seguro-defeso-pescador-artesanal"
                    target="_blank">Defeso</a></li>
            <li><a class="link_rodape" href="https://www.gov.br/ibama/pt-br" target="_blank">IBAMA</a></li>
            <li><a class="link_rodape" href="https://surfguru.com.br/previsao/brasil/bahia/salvador/oceanica"
                    target="_blank">Maré e Tempo</a></li>
            <li><a class="link_rodape" href="#">Contato (71)3249-4053</a> </li>
            <li><a class="link_rodape" href="#">Rua Engenheiro Aristides Milton, 26</a></li>
            <li><a class="link_rodape" href="#">Salvador-Bahia</a></li>

        </ul>
    </nav>

    <div>
        <img class="logo_rodape" src="Imagens/logo_rodape.png" alt="">
    </div>
</footer>