<footer class="footer_total">
    
    <div class="container">
        <ul class="link_rodape">
            <h3>Colônia de Pescadores Z6 Itapuã</h3>
            <p>Onde a tradição e a vanguarda se encontram</p>
        </ul>

        <ul class="link_rodape">
            <h3>Navegue Pelo Site</h3>
            <li><a class="link_rodape" href="index">Início</a></li>
            <li><a class="link_rodape" href="localidades">Localidades</a></li>
            <li><a class="link_rodape" href="publicacoes">Publicações</a></li>
            <li><a class="link_rodape" href="contato">Contato</a></li>
            <li><a class="link_rodape" href="login">Login</a></li>
        </ul>

        <ul class="link_rodape">
            <h3>Links Úteis</h3>
            <li><a class="link_rodape" href="https://www.gov.br/pt-br/servicos/solicitar-seguro-defeso-pescador-artesanal"  target="_blank">Seguro Defeso</a></li>
            <li><a class="link_rodape" href="https://www.gov.br/ibama/pt-br" target="_blank">IBAMA</a></li>
            <li><a class="link_rodape" href="https://surfguru.com.br/previsao/brasil/bahia/salvador/oceanica" target="_blank">Maré e Tempo</a></li>
        </ul>

        <ul class="link_rodape">
            <h3>Nosso Contato</h3>
            <li><p>Telefone: (71)3249-4053</p></li>
            <li><p>Endereço: Rua Engenheiro Aristides Milton, 26</p></li>
            <li><p>Salvador-Bahia</p></li>

        </ul>
    </div>
        
    
</footer>