<main>
<div class="local_todos">
    <div>
    <h1 class="local_titulo">Nossas Localidades</h1>
    </div>

    <div class="local_sedes">

    <div class="local">
        
        <div class="local_texto">
            <h1>Nossa sede</h1>
            <p>Localização: Av. Aristides Milton, 26 Itapuã</p>
        </div>
        <div>
            <img class="local_img" src="Imagens/sede1.jpeg" alt="pescador no barco">
        </div>
    </div>
    <div class="local">
        <div class="local_texto">
            <h1>Posto Avançado Piatã</h1>
            <p>Localização:Av. Octávio Mangabeira,12041 Piatã</p>
        </div>
        <div>
            <img class="local_img" src="Imagens/posto_piata.png" alt="pescador no barco">
        </div>
    </div>
    <div class="local">
        <div class="local_texto">
            <h1>Posto Avançado Kilos</h1>
            <p>Localização: Rua Aristides Milton, Itapuã</p>
        </div>
        <div>
            <img class="local_img" src="Imagens/posto_kilos.png" alt="pescador no barco">
        </div>
    </div>
     <div class="local">
        <div class="local_texto">
            <h1>Posto Avançado Rua K</h1>
            <p>Localização: Rua da Música, Itapuã, Itapuã</p>
        </div>
        <div>
            <img class="local_img" src="Imagens/posto1.jpeg" alt="pescador no barco">
        </div>
    </div>
     <div class="local">
        <div class="local_texto">
            <h1>Posto Mergulho e Pesca</h1>
            <p>Localização: Praia de Stela Maris</p>
        </div>
        <div>
            <img class="local_img" src="Imagens/posto4.jpeg" alt="pescador no barco">
        </div>
    </div>

    </div>

</div>
</main>

