.index_titulo{
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 9vh;
    background-color:  rgb(21, 197, 209);
    background-image: url(/Imagens/barcos_itapua2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 25px;
    font-size: 5vh;
    padding: 20vh;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
    border-radius: 1px;
    
    
    text-shadow:
    -2px -2px 0 #000,
     2px -2px 0 #000,
    -2px  2px 0 #000,
     2px  2px 0 #000,
     0    2px 0 #000,
     0   -2px 0 #000,
     2px  0   0 #000,
    -2px  0   0 #000;
}


.sobre_nos{
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0;
    gap: 20px;
    background-color:#ffffffff;
    box-shadow: 3px 3px 15px;

    
}

.sobre_nos_texto{
    text-align: justify;
    width: 400px; /* Largura definida para a caixa */
    padding: 20px;
    background-color: #FFFFFF;
    
}

.sobre_nos_img{
    width: 450px;
    padding: 10px;
    box-shadow: 5px 5px 15px;
    border-radius: 20px;
}
