


<main>
<div class="index_titulo">
    <h1 class="titulo_principal">Colônia de Pescadores Z6-Itapuã</h1>
    <p class="subtitulo_principal">Onde a tradição e a vanguarda se encontram</p>
</div>




<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

    <!-- Início indicadores para navegar nos slides do carousel -->
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <!-- Fim indicadores para navegar nos slides do carousel -->

    <!-- Início slide carousel -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/Imagens/Pescadores_na_praia_de_Itapuã.jpg" class="d-block w-100" alt="Categoria 1">
        </div>
        <div class="carousel-item">
            <img src="/Imagens/pescador_rede2.png" class="d-block w-100" alt="Categoria 2">
        </div>
        <div class="carousel-item">
            <img src="/Imagens/pescador_barco2.png" class="d-block w-100" alt="Categoria 3">
        </div>
    </div>
    <!-- Fim slide carousel -->

    <!-- Início anterior e próximo slide carousel -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    <!-- Fim anterior e próximo slide carousel -->

</div>








<div class="sobre_nos">
    <div class="sobre_nos_texto">
        <h1>Sobre nós</h1>
        <p>A colônia de pescadores de Itapuã, em Salvador, tem origem no século XVII com a pesca de baleias para a extração de óleo usado na iluminação pública, e se firmou como vila de pescadores em meados do século XX. Essa atividade foi crucial para a economia local até o início do século XX, e hoje a comunidade preserva sua tradição pesqueira, além de ser um centro cultural influenciado por lendas como a da "pedra que ronca".</p>
    </div>
    <div>
        <img class="sobre_nos_img" src="Imagens/pescadores.jpeg" alt="pescador no barco">
    </div>
</div>
</main>
