<app-header></app-header>

<div class="index_titulo">
    <h1 >Colônia de Pescadores de Itapuã</h1>
    <p>Onde a tradição e a vanguarda se encontram</p>
</div>

<div class="sobre_nos">
    <div class="sobre_nos_texto">
        <h1>Sobre nós</h1>
        <p>As Colônias de Pescadores são os órgãos de classe responsáveis por representar os trabalhadores da
            pesca artesanal. Sua criação e organização social datam de 1818, no período do Reinado de D. João V.
            A data inicial mais antiga conhecida da atividade em Itapuã é de 1898.</p>
    </div>
    <div>
        <img class="sobre_nos_img" src="Imagens/pescadores.jpeg" alt="pescador no barco">
    </div>
</div>

<app-footer></app-footer>