* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main p{
    padding: 5px;
}

.contato_indicador{
    margin-top: -180px;
    color: aliceblue;
    background-color: rgb(21, 197, 209);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 15vh;
    font-size: 30px;
    text-align: justify;
    justify-content: center;
}

.formulario_geral{
    display: flex;
    gap: 80px;
    padding: 20px;
    align-items: center;
}

.formulario{
    display: flex;
    flex-direction: row;
    position: relative;
    top: -30px;

}

.formulario_titulo{
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.formulario_itens{
    display: flex;
    flex-direction: column;
    gap: 11px;
    width: 350px;
    border-radius: 10px;
    background-color:#fffffff8;
    box-shadow: 3px 3px 15px;
}

.formulario_texto{
    font-size: 17px;
    border-radius: 8px;
    padding: 3px;
}

.mapa{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    border-radius: 10px;
    box-shadow: 3px 3px 15px;  
}

.botao_enviar{
    color: white;
    background-color: rgb(21, 197, 209);
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    padding:5px;
    width: 100%;
    cursor: pointer; 
    transition: all 0.3s ease;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.botao_enviar:hover{
    background-color: #2d59d4; /* Um tom de roxo mais escuro (índigo) */
    transform: scale(1.01); /* Aumenta o tamanho do botão em 5% */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Adiciona uma leve sombra */
}
