*{
    padding: 0;
    margin: 0;
}

.local_titulo{
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -2vh;
    background-color:  rgb(21, 197, 209);
    font-size: 8vh;
    padding: 15vh;
    width: 185vh;
}

.local_todos{
    margin-top: -180px;
    display: flex;
    flex-direction: column;
}

.local{
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0;
    gap: 20px;
    
    box-shadow: 5px 5px 15px;
    align-items: center;
    align-self: center;
    padding: 8px;
    border-radius: 20px;
}

.local_texto{
    display: flex;
    flex-direction: column;
    text-align: justify;
    width: 400px; /* Largura definida para a caixa */
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 5px 5px 15px;
    border-radius: 20px;
    
}

.local_img{
    width: 450px;
    padding: 10px;
    box-shadow: 5px 5px 15px;
    border-radius: 20px;
}