*{
    padding: 0;
    margin: 0;
}

.local_todos{
    margin-top: -180px;
}

.local{
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0;
    gap: 20px;
    background-color: #e9e9e9;
    box-shadow: 5px 5px 15px;
    align-items: center;
    flex-direction: column;
}

.local_texto{
    text-align: justify;
    width: 400px; /* Largura definida para a caixa */
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #FFFFFF;
    margin-top: auto;
    box-shadow: 5px 5px 15px;
    
}

.local_img{
    width: 450px;
    padding: 10px;
    box-shadow: 5px 5px 15px;
}