body {
    background: #FFFFFF;
    height: 100%;
}

main{
    width: 100vw;
    height: 100vh; 
    display: flex;
    justify-content: center;
    
}

.logo{
   display: flex;
   align-self: auto;
   width: 50%;     
}

.logo_div{
    display: flex;
    justify-content: center;
}

.forms{
    display: flex;
    margin-top: -50vh;
}

.forms_div{
    width: 50%;
    background-color: #f7f7f7;
     
}
.forms_div_texto{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.titulo{
    color: #32b9be;
    display: flex;
    
}

.form_id {
    display: block;
    width: 400px;
    border: 1px solid #cccccc;
    border-radius: 7px;
    height: 26px;
    margin: 8px;
    font-size: 13px;
    padding: 5px;
    padding-left: 20px;    
    
}

.txtLogin{
    display: flex;
    justify-content: end;

}


.botao_entrar{
    width: 400px;
    height: 26px;
    border: 1px solid #9b9696;
    border-radius: 5px;
    background-color: #cbcfcd;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.botao_entrar:hover{
    background-color: #3487d4; 
    transform: scale(1.05); 
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); 
}


