*{
    padding: 0;
    margin: 0;
}

body {
    background: #ffffff;
    height: 100%;
    display: flex;
    /*Ver se funciona com colum*/
    flex-direction: column;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='2600' height='2600' preserveAspectRatio='none' viewBox='0 0 2600 2600'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1399%26quot%3b)' fill='none'%3e%3crect width='2600' height='2600' x='0' y='0' fill='rgba(23%2c 103%2c 126%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c662 C 104%2c600.2 312%2c243 520%2c353 C 728%2c463 832%2c1253.6 1040%2c1212 C 1248%2c1170.4 1352%2c203.2 1560%2c145 C 1768%2c86.8 1872%2c850.8 2080%2c921 C 2288%2c991.2 2496%2c581 2600%2c496L2600 2600L0 2600z' fill='rgba(24%2c 133%2c 139%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c2208 C 104%2c2121 312%2c1714.2 520%2c1773 C 728%2c1831.8 832%2c2573 1040%2c2502 C 1248%2c2431 1352%2c1491.2 1560%2c1418 C 1768%2c1344.8 1872%2c2033.8 2080%2c2136 C 2288%2c2238.2 2496%2c1970.4 2600%2c1929L2600 2600L0 2600z' fill='rgba(42%2c 211%2c 213%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1399'%3e%3crect width='2600' height='2600' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    
}

.index_titulo{
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 12vh;
    background-color:  rgb(21, 197, 209);
    background-image: url(/Imagens/carrossel1.jpeg);
    font-size: 5vh;
    padding: 15vh;
    width: 185vh;
    text-shadow:
    -2px -2px 0 #000,
     2px -2px 0 #000,
    -2px  2px 0 #000,
     2px  2px 0 #000,
     0    2px 0 #000,
     0   -2px 0 #000,
     2px  0   0 #000,
    -2px  0   0 #000;
}

.botao_logout{
    display: flex;
    position: absolute;
    width: 33px;
    margin-top: -3vh;
    padding: 15px;
    
}

.logout a{
     width: 30px;
    
}


.carrossel{
    /* max-width: 300px; */
    width: 1000px;
    overflow: hidden;
    position: relative;
    margin: auto;
    margin-top: -180px;

}

.slides img{
    display: block;
    max-width: 100%;
    
}

.slides{
    display: flex;
    transform: transform 0.5s ease-in-out;
}

button{
    position: absolute;
    top:50%
    
}

button:hover{
    background-color: #72dadd;
}

.esquerda{
    left: 10px;
}

.direita{
    right: 10px;
}

main{
    margin-top: 300px;
    flex-grow: 1;
    
}

html {
    height: 100%;
}





header ul {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

ul {
	display: inline-block;
}

header {
    box-shadow: 5px 5px 5px rgb(68, 68, 68);
    top: 0;
    position: fixed;
    width: 100%;
    background: #FFFFFF;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: -2000px;
}

header div {
    display: inline;
    vertical-align: middle;
}

header nav {
    display: inline-block;
    vertical-align: middle;
    width: 80vw;
}

header nav a {
    color: #060607;
    font-size: 19px;
    text-decoration: none;
    font-weight: 900;
    margin-left: 14px;
    margin-right: 14px;
    
}

header nav a:hover {
    color: #152553;
    text-decoration: none;
    font-weight: 900;
}

nav li {
    display: inline;
    list-style: none;
}









.sobre_nos{
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0;
    gap: 20px;
    background-color:#ffffffff;
    box-shadow: 3px 3px 15px;

    
}

.sobre_nos_texto{
    text-align: justify;
    width: 400px; /* Largura definida para a caixa */
    padding: 20px;
    background-color: #FFFFFF;
    
}

.sobre_nos_img{
    width: 450px;
    padding: 10px;
    box-shadow: 5px 5px 15px;
    border-radius: 20px;
}


/*footer----------------------------------------*/


footer {
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: #0b1535;
    font-size: 15px;
    justify-content: end;
    left: 0;
    bottom: 0;
    width: 213vh;     
}

footer div {
    text-decoration: none;
    
    float: right;
    margin-right: 40px;
    order: -1;
}

.social_links{
    display: flex;
    gap: 1.2rem;
   
}

.logo_rodape{
    display: flex;
}

.link_rodape{
     color: #ffffff;
     text-decoration: none;
}