*{
    padding: 0;
    margin: 0;
}

body {
    background: #ffffff;
    height: 100%;
    display: flex;
    /*Ver se funciona com colum*/
    flex-direction: column;   
}

.carrossel{
    /* max-width: 300px; */
    width: 1000px;
    overflow: hidden;
    position: relative;
    margin: auto;
    margin-top: -180px;

}

.slides img{
    display: block;
    max-width: 100%;
    
}

.slides{
    display: flex;
    transform: transform 0.5s ease-in-out;
}

button{
    position: absolute;
    top:50%
    
}

button:hover{
    background-color: #72dadd;
}

.esquerda{
    left: 10px;
}

.direita{
    right: 10px;
}

main{
    margin-top: 300px;
    flex-grow: 1;
    
}

html {
    height: 100%;
}


header ul {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

ul {
	display: inline-block;
}

header {
    box-shadow: 5px 5px 5px rgb(68, 68, 68);
    top: 0;
    position: fixed;
    width: 100%;
    background: #FFFFFF;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: -2000px;
}

header div {
    display: inline;
    vertical-align: middle;
}

header nav {
    display: inline-block;
    vertical-align: middle;
    width: 80vw;
}

header nav a {
    color: #060607;
    font-size: 17px;
    text-decoration: none;
    font-weight: 900;
    margin-left: 14px;
    margin-right: 14px;
    
}

header nav a:hover {
    color: #152553;
    text-decoration: none;
    font-weight: 900;
}

nav li {
    display: inline;
    list-style: none;
}

.sobre_nos{
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0;
    gap: 20px;
    background-color:rgb(21, 197, 209);

    
}

.sobre_nos_texto{
    text-align: justify;
    width: 400px; /* Largura definida para a caixa */
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #FFFFFF;
    
}

.sobre_nos_img{
    width: 450px;
    
}


footer {
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: #0b1535;
    font-size: 15px;
    justify-content: end;
    
    left: 0;
    bottom: 0;
    width: 100%;      
}

footer div {
    text-decoration: none;
    
    float: right;
    margin-right: 40px;
    order: -1;
}

.social_links{
    display: flex;
    gap: 1.2rem;
   
}

.logo_rodape{
    display: flex;
}

.link_rodape{
     color: #ffffff;
     text-decoration: none;
}